NODE_ENV=development

# Debug
DEBUG=true

# Maintenance Mode
MAINTENANCE_MODE=false

# App info
NEXT_PUBLIC_APP_NAME=EDCS
NEXT_PUBLIC_APP_URL=http://localhost:4201

# API info
NEXT_PUBLIC_API_URL=https://app.edcs.api/api

# Basic auth secret
BASIC_SECRET=secret
NEXTAUTH_SECRET=secret

# JWT access token signing key and expiry
JWT_ACCESS_TOKEN_SIGNING_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRY=3600

# JWT refresh token signing key and expiry
JWT_REFRESH_TOKEN_SIGNING_SECRET=secret
JWT_REFRESH_TOKEN_EXPIRY=3600

# Game logs source directory
LOGS_SOURCE_DIR=/dev/null
